body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #9f844a;
}

h1 {
  font-size: 3rem;
  color: #652579;
  text-align: center;
  padding: 2rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #843d3d;
  font-weight: bold;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  padding: 2rem;
}

h1 {
  grid-column: 1 / -1;
}


nav {
  background-color: #723a3a;
  padding: 2rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  color: #1e4767;
  font-weight: bold;
}

nav ul li a:hover {
  color: #972626;
}


ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #157148;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(62, 36, 126, 0.1);
  margin-bottom: 2rem;
}

ul li:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


.back-to-home {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #1f1f1f;
  color: #fff;
  font-weight: bold;
  margin-top: 2rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.back-to-home:hover {
  background-color: #ccc;
  color: #1f1f1f;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


/* Media query for screens below 768px */
@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
    padding: 1rem;
  }

  nav ul li {
    margin-right: 0.5rem;
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    padding: 1rem;
  }

  ul li {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .back-to-home {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }
}

#post-title {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#post-title.loaded {
  opacity: 1;
}


